* {
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
}


/*----- HEADER & NAV ------- */
header {
	border-bottom: 1px solid gray;
	width: 100%;
	margin-top: 20px;
	height: 125px;
}

#logo {
	float: left;
	width: 300px;
	margin: 30px 0 15px 100px;
}

header img,header nav {
    display: inline-block;
    vertical-align: middle;
 }

nav {
	margin: 20px 0 0 100px;
	padding: 20px;
	display: inline;
	vertical-align: middle;
}

nav ul {
	display: inline-block;
}

nav ul li {
	display: inline;
	padding: 10px;

}

nav ul li a {
	color: gray;
	text-decoration: none;
	padding: 0 15px;
}

img {
	width: 100%;
}



/*----- BODY CONTENT ------- */
main {
	width: 70%;
	margin: 50px auto;
	clear: both;
}

.callout {
	color: goldenrod;
	text-align: center;
	line-height: 12px;
}

h1 {
	font-size: 1.5em;
	color: gray;
	text-align: center;
	letter-spacing: 1px;
}


a {
	color: navy;
	text-decoration: none;
}

a:hover {
	color: goldenrod;
	text-decoration: none;
}


/*----- FOOTER------- */
footer {
	text-align: center;
}