* {
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
}


/*----- HEADER & NAV ------- */
header {
	border-bottom: 1px solid gray;
	width: 100%;
	margin-top: 20px;
	height: 125px;
}

#logo {
	float: left;
	width: 300px;
	margin: 30px 0 15px 100px;
}

header img,header nav {
    display: inline-block;
    vertical-align: middle;
 }

nav {
	margin: 20px 0 0 100px;
	padding: 20px;
	display: inline;
	vertical-align: middle;
}

nav ul {
	display: inline-block;
}

nav ul li {
	display: inline;
	padding: 10px;

}

nav ul li a {
	color: gray;
	text-decoration: none;
	padding: 0 15px;
}

img {
	width: 100%;
}



/*----- BODY CONTENT ------- */
main {
	width: 70%;
	margin: 50px auto;
	clear: both;
}

/*
#tesla {
	width: 300px;
}

#edison {
	clear: both;
	width: 300px;
}	*/

#container {
	float: right;
	margin: 0 0 20px 20px;
	width: 300px;
}

#container img {
	width: 100%;
}

.callout {
	color: goldenrod;
	text-align: center;
	line-height: 14px;

}

h1 {
	font-size: 1.5em;
	color: gray;
	text-align: center;
	letter-spacing: 1px;
}

a {
	color: navy;
	text-decoration: none;
}

a:hover {
	color: goldenrod;
	text-decoration: none;
}

section {
	border-color: orange;
	box-shadow: 4px 7px 4px gray;
	border-style: solid;
	margin: 1rem;
	width: 100%;
	float:top;
	height: 50%;
	display :inline-block;
}


.mood {
	float: left;
	position: right;
	border-color:orange;
	width:200px;
	margin: auto;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);


}


.electsources {
	float: left;
	border-color:orange;
	width:200px;
	margin:1rem;
}

.led {
	float: left;
	border-color:orange;
	width:200px;
	margin:1rem;
}



.silence {
	float: left;
	border-color:orange;
	width:100px;
	margin:1rem;
}


.startrekmood {
	float: left;
	border-color:orange;
	width:100px;
	margin:1rem;
}


aside {
	vertical-align: left;
}


/* ------ PRODUCTS ---------- */

#productswrapper {
	margin-bottom: 20px;
}

article {
	width: 30%;
	border: 1px solid goldenrod;
	min-width: 200px;
	background: white;
	float: left;
	margin: 25px 25px 0 0;
	text-align: center;
	
}

article img {
	width: 100%;
	max-height: 300px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.title {
	margin: 10px 0;
}

.description {
	padding: 10px;

}

.price {
	font-weight: bold;
	margin-bottom: 10px;
}


/*----- FOOTER------- */
footer {
	margin-top: 20px;
	text-align: center;
	clear: both;
}
